# Virtual environment
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Flask
instance/

# Uploads
uploads/

# Database
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/